.PersonalProjects{
    margin: 10px 15px 30px 0;
}

.PersonalProjects>hr{
    margin-top: 0;
    margin-bottom: 2px;
    height: 2px;
    background-color: black;
    border: 0px;
}

.personalProjects__project{
    margin-left: 20px;
    text-align: left;
}

.personalProjects__title{
    margin-left: 20px;
    text-align: left;
    display: block;
    font-size: 18px;
    font-weight: bold
}

.personalProjects__projectName{
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
}

.personalProjects__projectPoints{
    margin-bottom: 15px;
}

.personalProjects__projectPoints>ul{
    padding: 0;
    margin: 0 0 0 20px;
    list-style: square;
    font-size: 14px;
}