.Title{
    text-align: left;
}

.title__container{
    display: flex;
}

.title__container>h1{
    width: 3.5cm;
}
.profile__photo>img{
    border-radius: 0% 40%;
    height: 6.7cm;
    border: 4px solid rgba(0, 0, 0, 0.11);
}

.title__name{
    background-color: rgba(12, 11, 41, 0.63);
    width: 6.9cm;
    color: #e5e9fd;
    position: absolute;
    top: 5.6cm
}

.title__name>h1{
    font-family: Arial;
    margin: 0 0 0 10px;
    font-style: bold;
    font-size: 31px;
}

.title__name>h2{
    font-family: Arial;
    margin: 0 0 0 10px;
    font-size: 21px;
}