.SocialMedia{
    text-align: left;
}

.element__socialMedia{
    display: flex;
}

.element__socialMedia>img{
    margin-top: 4px;
    margin-right: 5px;
    height: 15px;
}

.element__socialMedia>.language{
    width: 80px;
}

.SocialMedia>ul{
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 0px;
    list-style-type: none;
}

.SocialMedia>h1{
    margin-top: 5px;
    border-radius: 0 5% 0 5%;
    background-color: #13191fce;
    text-align: center;
}

a {
    color: white;
}

a:hover {
    color: rgb(0, 16, 245);
}