.SocialMedia{
    text-align: left;
    margin-left: 30px;
}

.element__SocialMedia>img{
    margin-top: 4px;
    margin-right: 5px;
    height: 15px;
}

.SocialMedia>ul{
    margin-top: 5px;
    padding-left: 0px;
    list-style-type: none;
}

.element__SocialMedia{
    display: flex;
}




