.Skills{
    text-align: left;
}

.element__Skills>img{
    margin-top: 4px;
    margin-right: 5px;
    height: 15px;
}

.Skills>ul{
    margin-left: 10px;
    margin-top: 5px;
    padding-left: 0px;
    list-style-type: none;
}

.element__Skills{
    display: flex;
}

.Skills>h1{
    border-radius: 0 5% 0 5%;
    background-color: #13191fce;
    text-align: center;
}